div#wrapper

    div#wrapper

        div#header
            h1= title

        div#content
            
            div 
                form#tocit(action="/tocit", method="GET")
                    | Enter Url that contains markdown file:

                    input#url.wide-text.url-entry(
                        type="url", name="url", 
                        placeholder="e.g., https://github.com/thlorenz/doc-toc/blob/master/README.md")

                    input#submit(type="submit", value="submit")
            div#result
                textarea(readonly="readonly")

        div#footer.bottom
            a(href="http://www.grsites.com") background courtesy of grsites.com

script(src="javascripts/index.js", type="text/javascript")
