#wrapper
  .vspace
  .clear

  div
    .centerCol
      #header.shadow
        h1= title
      .centerColBackground
      .centerColContent
        .content
          div
            form#tocit.shadow(action="/tocit", method="GET")
              | Enter Url that contains markdown file:

              input#url.wide-text.url-entry(
                type="url", 
                name="url", 
                placeholder="e.g., https://github.com/thlorenz/doc-toc/blob/master/README.md")

              input#submit.button.shadow(type="submit", value="GO")
          .vspace

          #result
            label.shadow Paste the below generated content on top of you markdown file:
            br
            textarea(readonly="readonly")

      #page-footer.shadow
        a(href="https://github.com/thlorenz/doc-toc")
          | source on github
        a(href="http://www.grsites.com/")
          | background image

script(src="javascripts/root.js", type="text/javascript")
