#wrapper
  .vspace
  .clear

  div
    .centerCol
      #header.shadow
        h1= title
        span 
          | Generates table of content for markdown files inside github repositories
      .centerColBackground
      .centerColContent
        .content
          div
            form#tocit(action="/tocit", method="GET")
              label.shadow Enter Url that contains markdown file:

              input#url.wide-text.url-entry(
                type="url", 
                name="url", 
                placeholder="e.g., https://github.com/thlorenz/doc-toc/blob/master/README.md")

              input#submit.button.shadow(type="submit", value="GO")
          #result
            label.shadow Paste below generated content at the top of your markdown file:
            br
            textarea(readonly="readonly")

      #page-footer.shadow
        a(href="https://github.com/thlorenz/doc-toc")
          | source on github
        a(href="http://www.grsites.com/")
          | background image

script(src="javascripts/root.js", type="text/javascript")
