@import 'reset.css'
@import 'synonyms.styl'
@import 'tooltip.styl'

centerColWidth = 70em

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

a:link 
  color: #66C

html
  background: #ccc url(../images/background.jpg) top center

body
  font-family: arial
  font-size: 16px

  form
    margin          :  0
    padding         :  0
    max-height      : 80px


#result textarea
  background :  #333

  min-width  :  80%
  width      :  90%
  max-width  :  95%

  min-height :  40em
  height     :  70%

  color: lightgreen
  line-height: 1.4em
  font-size: 14px

  white-space: pre

#wrapper
  margin :  0 auto
  width  :  1200px

#header 
    margin      :  0em 0em 0.4em 0
    color: #350808
    text-shadow: rgba(253, 204, 197, 0.4) 1px 1px 0px
    h1 
      font-size   :  30px
      margin      :  0em 0em 0.4em 0em 
    span
      font-size   :  12px
      margin      :  0em 0em 0em 5em 

.centerCol
  position :  relative
  width    :  centerColWidth
  padding  :  1em
  color    :  #FED

.centerColBackground
  background-color: darkblue
  opacity: 0.5
  position: absolute
  width: centerColWidth
  height: 100%
  z-index: -1

  border-radius 1em
  box-shadow    0 0 1.1em #111

.centerColContent
  width: centerColWidth - 1
  padding: 2em 3.5em 2em 3.5em

#page-footer
  margin-left: 3.5em
  margin-bottom: 0em
  a
    margin-left: 1em

.vspace
  height: 2em

.button
  background   :  orange
  color        :  darkred
  margin       :  2px
  border-color :  black
  opacity      :  0.9
  width        :  50px 
  text-align   :  center
  cursor       :  pointer
  border-radius 0px 10px 10px 0px
  box-shadow    2px 2px 0px 0px #333 

.twitter-share-button
  margin : -2em 0em 0em 0em 
