footer-height = 30px
header-height = 50px
panel-min-width = 500px

html
body
    height: 100%

body
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
    background-image: url(/images/background.jpg)

div#wrapper
    min-height :  90%
    height     :  auto !important
    height     :  100%
    margin 0 auto -(footer-height + 5px)

    background    :  #215
    border-radius :  20px
    color         :  #AAA
    padding       :  15px
    margin        :  50px 100px

div#header
    color: #882
    height: header-height

dif#footer
    height: footer-height

#result
    min-height: 800px
    background: #DDD

    border-radius: 5px

    textarea
        min-height: 800px
        min-width: 100%
        readonly: 'readonly'
        background: #DDD
        border-radius: 5px

a
    color: lightblue 

label
input 
    margin: 15px 15px 15px 0px
    height: 20px

.bottom
    position: fixed
    bottom: 0
    left: 0
    margin: 20px

.wide-text
    width: 85% 

