@import 'reset.css';
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline;
}
.cursor {
  cursor: pointer;
}
.wide-text {
  width: 85%;
}
.shadow {
  color: #fff;
  text-shadow: rgba(0,4,7,0.7) 1px 1px 0px;
}
html {
  background: #ccc url("../images/background.jpg") top center;
}
body {
  font-family: arial;
  font-size: 16px;
}
body form {
  margin: 0;
  padding: 0;
  max-height: 80px;
}
#result textarea {
  background: #333;
  min-width: 80%;
  width: 90%;
  max-width: 95%;
  min-height: 40em;
  height: 70%;
  color: #90ee90;
  line-height: 1.4em;
  font-size: 14px;
  white-space: pre;
}
#wrapper {
  margin: 0 auto;
  width: 1200px;
}
#header {
  margin: 0em 0em 0.4em 0;
  color: #350808;
  text-shadow: rgba(253,204,197,0.4) 1px 1px 0px;
}
#header h1 {
  font-size: 30px;
  margin: 0em 0em 0.4em 0em;
}
#header span {
  font-size: 12px;
  margin: 0em 0em 0em 5em;
}
.centerCol {
  position: relative;
  width: 70em;
  padding: 1em;
  color: #fed;
}
.centerColBackground {
  background-color: #00008b;
  opacity: 0.5;
  position: absolute;
  width: 70em;
  height: 100%;
  z-index: -1;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 1.1em #111;
  -moz-box-shadow: 0 0 1.1em #111;
  box-shadow: 0 0 1.1em #111;
}
.centerColContent {
  width: 69em;
  padding: 2em 3.5em 2em 3.5em;
}
#page-footer {
  margin-left: 3.5em;
  margin-bottom: 0em;
}
#page-footer a {
  margin-left: 1em;
}
.vspace {
  height: 2em;
}
.button {
  background: #ffa500;
  color: #8b0000;
  margin: 2px;
  border-color: #000;
  opacity: 0.9;
  width: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
  -webkit-box-shadow: 3px 5px 2px 0px #333;
  -moz-box-shadow: 3px 5px 2px 0px #333;
  box-shadow: 3px 5px 2px 0px #333;
}
.twitter-share-button {
  margin: -2em 0em 0em 0em;
}
