@import 'reset.css';
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.justify {
  text-align: justify;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
.floatNone {
  float: none;
}
.clear {
  clear: both;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.inline {
  display: inline;
}
.cursor {
  cursor: pointer;
}
.wide-text {
  width: 85%;
}
.shadow {
  color: #fff;
  text-shadow: rgba(0,4,7,0.7) 1px 1px 0px;
}
html {
  background: #ccc url("../images/background.jpg") top center;
}
body {
  font-family: arial;
  font-size: 14px;
}
.content {
  font-size: 1.1em !important;
}
.content h1 {
  font-size: 1.6em;
  margin: 0.4em 0 0.4em 0;
}
.content h2 {
  font-size: 1.4em;
}
.content h3 {
  font-size: 1.2em;
}
.content a {
  color: #a71500;
  text-decoration: underline;
}
.content form {
  margin: 0;
  padding: 0;
}
#result textarea {
  background: #333;
  min-width: 80%;
  width: 90%;
  max-width: 95%;
  min-height: 40em;
  height: 70%;
  color: #90ee90;
  line-height: 1.4em;
}
#wrapper {
  margin: 0 auto;
  width: 982px;
}
#header {
  margin: 0em 0em 0.4em 0;
  font-size: 30px;
  color: #350808;
  text-shadow: rgba(253,204,197,0.4) 1px 1px 0px;
}
.centerCol {
  position: absolute;
  width: 70em;
  padding: 1em;
  color: #fed;
}
.centerColBackground {
  background-color: #00008b;
  opacity: 0.5;
  position: absolute;
  width: 70em;
  height: 100%;
  z-index: -1;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  border-radius: 1em;
  -webkit-box-shadow: 0 0 1.1em #111;
  -moz-box-shadow: 0 0 1.1em #111;
  box-shadow: 0 0 1.1em #111;
}
.centerColContent {
  width: 69em;
  padding: 3.5em;
}
#page-footer {
  margin-left: 3.5em;
}
#page-footer a {
  margin-left: 1em;
}
.vspace {
  height: 2em;
}
.button {
  background: #f00;
  margin: 1em;
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  border-radius: 0.2em;
}
