@import 'reset.css'
@import 'synonyms.styl'

centerColWidth = 70em

vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)

html
  background: #ccc url(../images/background.jpg) top center

body
  font-family: arial
  font-size: 14px

.content 
  font-size         :  1.1em !important
  h1
    font-size       :  1.6em
    margin          :  0.4em 0 0.4em 0
  h2
    font-size       :  1.4em
  h3
    font-size       :  1.2em
  a
    color           :  #A71500
    text-decoration :  underline

  form
    margin          :  0
    padding         :  0

#result textarea
  background :  #333

  min-width  :  80%
  width      :  90%
  max-width  :  95%

  min-height :  40em
  height     :  70%

  color: lightgreen
  line-height: 1.4em

#wrapper
  margin :  0 auto
  width  :  982px

#header
    margin      :  0em 0em 0.4em 0
    font-size   :  30px
    color: #350808
    text-shadow: rgba(253, 204, 197, 0.4) 1px 1px 0px

.centerCol
  position :  absolute
  width    :  centerColWidth
  padding  :  1em
  color    :  #FED

.centerColBackground
  background-color: darkblue
  opacity: 0.5
  position: absolute
  width: centerColWidth
  height: 100%
  z-index: -1

  border-radius 1em
  box-shadow    0 0 1.1em #111

.centerColContent
  width: centerColWidth - 1
  padding: 3.5em

#page-footer
  margin-left: 3.5em
  a
    margin-left: 1em

.vspace
  height: 2em

.button
  background: orange
  margin:     1em
  border-radius 0.2em
  box-shadow    0 0 0.5em #111
