.center 
    text-align  :  center

.left 
    text-align :  left
.right
    text-align :  right
.justify
    text-align :  justify

.floatLeft
    float      :  left
.floatRight
    float      :  right
.floatNone
    float      :  none

.clear 
    clear: both

.clearfix:after
  content       :  "."
  display       :  block
  height        :  0
  clear         :  both
  visibility    :  hidden

.relative
  position   :  relative
.absolute
    position :  absolute
.inline
    display  :  inline

.cursor 
    cursor: pointer
        
.wide-text
    width: 85% 

.shadow
  color       :  #fff
  text-shadow :  rgba(0, 4, 7, 0.7) 1px 1px 0px
