@import 'functions.styl'

a.tooltip::before
  content: attr(data-tip)
  font-size: 14px
  position: absolute
  z-index: 999
  white-space: nowrap
  bottom: 9999px
  left: 10%

  background       : #00D 
  color       :  #fff
  text-shadow :  rgba(0, 4, 7, 0.7) 1px 1px 0px
  border-radius 7px

  padding: 0px 7px
  line-height: 34px
  height: 34px
  opacity: 0
  transition: opacity 0.4s ease-out

a.tooltip:hover::before
  opacity: 1
  bottom: -40px

